{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'stock/style.css' %}" />

<p>stockindicator.html</p>


<!--
<form action="/stock/stockname/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>



<form action="/stock/stockindicator/" method="post">
    {% csrf_token %}
    {{ form.as_p }} 
    <input type="submit" value="Submit" />
</form>


<div class="lighter">
<form>
	<span><input type="text" class="search rounded" placeholder="Search..."></span>
	<span><input type="text" class="search square"><input type="button" value="Search"></span>
</form>
</div>
<div class="dark">
<form>
	<span><input type="text" class="search rounded" placeholder="Search..."></span>
	<span><input type="text" class="search square"><input type="button" value="Search"></span>
</form>
</div>
<div class="light">
<form>
	<span><input type="text" class="search rounded" placeholder="Search..."></span>
	<span><input type="text" class="search square"><input type="button" value="Search"></span>
</form>
</div>

-->

